@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

#root {
    background-color: #25282e;
}

.row {
    display: flex;
}

.sp-bw {
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

a {
    text-decoration: none;
}

.btn:hover {
    background: #2d49b2;
}

.btn {
    color: #fff;
    background: #446eff;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 24px;
    min-height: 48px;
    padding: 0 48px;
    font-size: 16px;
    position: relative;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    min-width: 64px;
    text-transform: capitalize;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn .icon {
    margin-left: 8px;
    margin-right: -4px;
}

.btn .icon svg {
    font-size: 20px;
    width: 16px;
    height: 16px;
}

/* header */
.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header .container {
    width: 100%;
    padding: 0 8px;
}

.home-nav {
    display: flex;
}

.header-logo {
    align-items: center;
    display: flex;
}

.logo {
    min-width: auto;
    background: #ebeef5;
    mask: url(../image/logo.svg) center center / contain space;
    height: 40px;
    width: 105px;
    color: transparent;
    margin-top: -10px;
    display: inline-block;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    padding: 6px 12px;
    height: 64px;
}

.nav a {
    color: #a2a9b8;
    font-size: 14px;
}

.theme {
    display: flex;
    align-items: center;
}

.theme .icon svg {
    color: #a2a9b8;
}

.dapps {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 24px;
    color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    height: 3.2rem;
    font-size: 1.6rem;
    background: linear-gradient(94.92deg, rgb(65, 105, 255) 0.91%, rgb(160, 22, 194) 103.55%);
}

/* footer */
.footer .content-section {
    padding-bottom: 32px;
    width: 100%;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo svg {
    color: #6c717a;
}

.footer-title {
    min-width: 120px;
    display: flex;
    flex-direction: column;
}

.footer .title {
    margin: 32px 0 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.43;
    color: #6c717a;
}

.footer-title .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.footer-title a {
    margin: 0;
    text-decoration: none;
    color: #a2a9b8;
    line-height: 20px;
    font-size: 12px;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    width: 168px;
}

.footer-icon .social {
    display: flex;
    align-items: center;
    padding: 0;
}

.social p {
    font-size: 14px;
    color: #ebeef5;
    font-weight: 400;
    line-height: 15px;
    padding-right: 16px;
}

.social a {
    display: inline-block;
    width: 28px;
    text-decoration: none;
    color: #a2a9b8;
    line-height: 20px;
    font-size: 12px;
}

.licenser {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    text-align: center;
    padding-bottom: 16px;
    color: #6c717a;
}

/* main */
.main .container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 528px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.banner .text-heading {
    margin: 0;
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
    color: #ebeef5;
}

.banner .highlight {
    margin: 0;
    font-size: inherit;
    color: #446eff;
}

.banner .text-description {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: #ebeef5;
}

/* wallet section */
.wallet {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px;
}

.wallet-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #31353d;
    padding: 48px;
    margin: 0;
    border-radius: 12px;
}

.wallet-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-right: 32px;
    width: -webkit-fill-available;
}

.wallet-img {
    display: flex;
}

.wallet-description .heading {
    color: #ebeef5;
    margin: 0;
    padding: 0;
}

.wallet-description .title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
}

.wallet-description .about-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* earn */
.earn {
    margin-bottom: 80px;
}

.earn .box {
    display: flex;
    flex-direction: column;
}

.earn .earn-list {
    margin-bottom: 80px;
    display: flex;
    margin-top: -40px;
    width: calc(100% + 40px);
    margin-left: -40px;
}

.earn-item {
    padding-left: 40px;
    padding-top: 40px;
    max-width: 50%;
}

.earn-item .item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    height: 100%;
    border-radius: 8px;
}

.earn-item .title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: inherit;
}

.earn-item .description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
}

.earn-list > .earn-item:first-of-type div {
    background: linear-gradient(260.11deg, rgb(84, 127, 231) 18.38%, rgb(46, 96, 227) 85.98%);
}

.earn-list > .earn-item:first-of-type div .title,
.earn-list > .earn-item:first-of-type div .description {
    color: #fff;
}

.earn-list > .earn-item:first-child div .btn {
    color: #446eff;
    background: #fff;
    text-transform: capitalize;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.earn-list > .earn-item:first-child div .btn:hover {
    opacity: 0.6;
}

.earn-list > .earn-item:last-child div {
    background: #fff;
}
